* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: black;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.main {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.show-calculations {
  margin: auto;
  border: 1px solid white;
  background-color: grey;
  height: 15vh;
  text-align: end;
  font-size: 2rem;
  padding-top: 4%;
  padding-right: 3%;
}

.input-rows {
  height: 100%;
  background-color: whitesmoke;
}

.inputRow-1,
.inputRow-2,
.inputRow-3,
.inputRow-4,
.inputRow-5 {
  display: flex;
  margin: auto;
  height: 13vh;
  justify-content: space-between;
  list-style-position: inside;
  padding-left: 0;
}

li {
  width: 100%;
  text-align: center;
  border: 1px solid grey;
  font-size: 2rem;
  margin: auto;
}

.orangeBG {
  background-color: orange !important;
}

.R5-li2,
.R5-li3 {
  width: 50%;
}

button {
  border: none;
  font-size: 1.5rem;
  background-color: whitesmoke;
  width: 100%;
  height: 15vh;
  cursor: pointer;
  margin: auto;
}

button:hover {
  background-color: rgb(255, 153, 0);
}

.orangeBG button {
  background-color: orange;
}
